parameters:
    level: 5
    paths:
        - spun-web-archive-pro.php
        - includes/
    excludePaths:
        - .wordpress-stubs.php
    bootstrapFiles:
        - .wordpress-stubs.php
    ignoreErrors:
        - '#Function [a-zA-Z_]+\(\) not found#'
        - '#Constant [A-Z_]+ not found#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false